body{margin:0;font-family:Arial;background:#f5f5f5}
header{background:#000;color:#fff;padding:10px;text-align:center}

#adminBtn,#cartBtn{
  position:fixed;top:10px;padding:6px 10px;
  background:#333;color:#fff;border-radius:6px;font-size:12px;z-index:999
}
#adminBtn{left:10px}
#cartBtn{right:10px}

.produtos{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;padding:10px
}
.produto{
  background:#fff;padding:8px;border-radius:6px;text-align:center
}
.produto img{
  width:100%;height:100px;object-fit:cover
}

.modal{
  position:fixed;inset:0;background:rgba(0,0,0,.7);
  display:flex;align-items:center;justify-content:center
}
.box{
  background:#fff;width:300px;padding:15px;border-radius:8px;text-align:center
}

@media print{
  body *{visibility:hidden}
  #recibo,#recibo *{visibility:visible}
  #recibo{width:58mm;position:absolute;left:0;top:0}
}
